.CartItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.CartItem img {
  max-height: 14rem;
}

.Cart__total {
  text-align: right;
  border-top: 3px solid var(--dark-grey);
  font-size: var(--font-medium);
  font-weight: bold;
  margin-top: var(--l-size);
  padding-top: var(--l-size);
}
