.Header {
  padding: var(--l-size) 0;
}

.Header__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.Header__link {
  color: var(--dark-grey);
  font-size: var(--m-size);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1rem;
}
.Header__link:hover {
  color: var(--teal);
}
.Header__link.active {
  color: var(--teal);
}

@media (min-width: 45rem) {
  .Header {
    padding: var(--xl-size) 0;
  }
  .Header__content {
    flex-direction: row;
    align-items: center;
  }
  .Header__link {
    font-size: 2.5rem;
  }
}
