:root {
  --dark-grey: #333333;
  --teal: #008080;
  /* sizes */
  --s-size: 1.2rem;
  --m-size: 1.6rem;
  --l-size: 3.2rem;
  --xl-size: 4.8rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--dark-grey);
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--m-size);
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.content-container {
  margin: 0 auto;
  padding: 0 var(--m-size);
  max-width: 80rem;
}
